@charset "UTF-8";

body,html{
    background-color: lightgrey;
}
#menu{
    background-color:rgb(53, 53, 53);
    display: block;
    text-align: center;
    padding: 8px;
    color: white;
    cursor: pointer;
}
#menu:hover{
    background-color: lightgray;
    color: rgb(53, 53, 53);
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: gray;
}
header h1{
    text-align: center;
    padding: 10px;
}
header a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(83, 83, 83);
    border: 1px solid rgba(0, 0, 0, 0.496);
}
header a:hover{
    background-color: lightgray;
    color: black;
}
ul{
    list-style-type: none;
}
h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
main{
    width: 90vw;
    text-indent: 10px;
    text-align: justify;
    background-color: white;
    padding: 8px;
    margin: auto;
    padding-top: 10px;
    border-radius: 10px;
}

article{
    padding-bottom: 20px;
}
article > p{
    margin-bottom: 10px;
}
menu{
    display: none;
}
