<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="stylestyle.css">
</head>
<body>
    <header>
        <div id="logo">
            <img src="Imagens/621620cd3297dc455f0cf77d/logo.png" alt="logo">
        </div>

        <div id="menu">
            <nav>
                <a href="#" id="Home">Home</a>
                <a href="#">Home</a>
                <a href="#">Home</a>
                <a href="#">Home</a>
                <a href="#">Home</a>
                <a href="#">Home</a>
                <a href="#">Home</a>
            </nav>
        </div> 
    </header>

    <section id="barner">
        <div id="container">
            <div id="txt1">
                <h1>Atendimento de alto nível</h1>
                <h2>Nosso consultório, um lugar acolhedor, preparado e experiente.</h2>
            </div>
            <div id="baixo">
                <div id="barner1">
                    <div class="banner_tittle">Caso de emergência</div>
                    <p class="desc">Se você precisar de consulta urgentemente fora das horas de atentimento, ligue para o número do departamento médico de emergência.</p>
                    <a href="https://www.rcn67.com.br/rcn67/confira-lista-de-telefones-uteis-e-de-emergencia-do-brasil/" target="_blank">Ler Mais</a>                  
                </div>
                <div id="barner2">
                    <div class="banner_tittle">Horário dos médicos</div>
                    <p class="desc">
                        <ul>
                            <li>Médico 1: Das 05:30 às 12:00</li>
                            <li>Médico 2: Das 12:00 às 16:00</li>
                            <li>Médico 3: Das 16:00 às 20:00</li>
                            <li>Médico 4: Das 20:00 às 02:00</li>
                        </ul></p>
                    <a href="#">Ler Mais</a> 
                </div>
                <div id="barner3">
                    <div class="banner_tittle">Horário de atendimento</div>
                    <ul>
                        <li>05:30 às 12:00</li>
                        <hr/><hr/>
                        <li>12:00 às 17:00</li>
                        <hr/><hr/>
                        <li>17:00 ás 02:00</li>
                    </ul>
                </div>
        </div>
    </section>
    <section id="geral">
        <div id="caixa">
            <section id="cons">
                <div class="widget">
                    <div class="widget_tittle">
                        <div class="texto">Últimas Notícias</div>
                        <div class="barra"></div>
                    </div>
                    <div class="w_body flex">
                        <article>
                        <a href="#">
                            <div id="Dia">
                                <div class="data">6 FEV 25</div>
                                <div class="coment">2</div>
                            </div>
                            <div class="tamb">
                                <img src="Imagens/dr.jpg" alt="consulta">
                            </div>
                            <div class="título">
                                Título da Notícia Lorem ipsum dolor sit consectetur
                            </div>
                            <div class="resume">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt totam perferendis, aut doloribus blanditiis sint fugit voluptas dolorum doloremque rerum tempora nostrum corrupti dolorem. Consectetur quod laborum aut o
                            </div>
                        </a>
                        </article>

                        <article>
                            <a href="#">
                                <div id="Dia">
                                    <div class="data">6 FEV 25</div>
                                    <div class="coment">2</div>
                                </div>
                                <div class="tamb">
                                    <img src="Imagens/dr.jpg" alt="consulta">
                                </div>
                                <div class="título">
                                    Título da Notícia Lorem ipsum dolor sit consectetur
                                </div>
                                <div class="resume">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt totam perferendis, aut doloribus blanditiis sint fugit voluptas dolorum doloremque rerum tempora nostrum corrupti dolorem. Consectetur quod laborum aut o
                                </div>
                            </a>
                            </article>

                            <article>
                                <a href="#">
                                    <div id="Dia">
                                        <div class="data">6 FEV 25</div>
                                        <div class="coment">2</div>
                                    </div>
                                    <div class="tamb">
                                        <img src="Imagens/dr.jpg" alt="consulta">
                                    </div>
                                    <div class="título">
                                        Título da Notícia Lorem ipsum dolor sit consectetur
                                    </div>
                                    <div class="resume">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt totam perferendis, aut doloribus blanditiis sint fugit voluptas dolorum doloremque rerum tempora nostrum corrupti dolorem. Consectetur quod laborum aut o
                                    </div>
                                </a>
                                </article>

                                <article>
                                    <a href="#">
                                        <div id="Dia">
                                            <div class="data">6 FEV 25</div>
                                            <div class="coment">2</div>
                                        </div>
                                        <div class="tamb">
                                            <img src="Imagens/dr.jpg" alt="consulta">
                                        </div>
                                        <div class="título">
                                            Título da Notícia Lorem ipsum dolor sit consectetur
                                        </div>
                                        <div class="resume">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt totam perferendis, aut doloribus blanditiis sint fugit voluptas dolorum doloremque rerum tempora nostrum corrupti dolorem. Consectetur quod laborum aut o
                                        </div>
                                    </a>
                                    </article>
                    </div>
            </section>
            <aside id="info">
                <div class="widget">
                    <div class="widget_tittle">
                        <div class="texto">Departamentos</div>
                        <div class="barra"></div>
                        <div class="departamentos">
                            <div class="derp"></div>
                            <div class="derp"></div>
                            <div class="derp"></div>
                            <div class="derp"></div>
                            <div class="derp"></div>
                            <div class="derp"></div>
                        </div>
                    </div>
                    <div class="body_W">
                        <div class="widget">
                            <div class="widget_tittle">
                                <div class="texto">Marque uma consulta</div>
                                <div class="barra"></div>
                                <p>Para marcar virtualmente uma consulta temos as seguintes opições:</p>
                                <hr>
                                <p>📞 - Pelo telefone <strong>54 93954032</strong></p>
                                <hr>
                                <p>📧 - Pelo email <a href="cecattopaiml@gmail.com" class="agend"><strong>cecattopaiml@gmail.com</strong></a></p>
                                <hr>
                                <p> &#128187; - Pelo nosso site:<a href="#" class="agend">agendamento</a></p>
                                <hr>
                            </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <footer>
        <div id="rodacon">
            <div id="rodapé">
                <div id="part1">
                    <a href="#"><div class="banner_tittle">Plano de saúde</div>                    <p>Aqui nos temos atendimento individual, clique aqui para ver mais →</p></a>

                </div>
                <div id="part2">
                    <a href="#"><div class="banner_tittle">Registros Médicos</div>                    <p>Aqui nos temos atendimento individual, clique aqui para ver mais →</p></a>

                </div>
                <div id="part3">
                    <a href="#"><div class="banner_tittle">Pagamento on-line</div>
                        <p>Aqui nos temos atendimento individual, clique aqui para ver mais →</p></a>
                </div>

            </div>
            <div id="footera">
                <div id="area1">
                    <div class="widget">
                        <div class="widget_tittle">
                            <div class="texto">Clínica Médica</div>
                            <div class="barra"></div>
                        </div>
                        <div class="body_f">
                            <div class="body_footer">
                            <p>Nossa cliníca conta com um ótimo atendimento e médicos extremamente dedicados e profissionais, por isso procure nós!</p>                      
                            </div>
                            <div class="endereco">
                                <div id="parte1">
                                    <p>Medicenter Clinic</p>
                                    <p>33 Farlane Street</p>
                                    <p>Keilor East</p>
                                    <p>VIC 3033, Australia</p>
                                </div>
                                <div id="parte2">
                                    <p>+123 655 655</p>
                                    <p>+123 755 755</p>
                                    <span>medicenter@mail.com</span>
                                </div>
                                
                            </div>
                            <div class="body_footer3">
                                    <div class="footer_images1">...</div>
                                    <div class="footer_images2">...</div>
                                    <div class="footer_images3">...</div>
                                    <div class="footer_images4">...</div>
                                </div>
                        </div>
                    </div>
                </div>
                
                <div class="area2">
                    <div class="widget">
                        <div class="widget_tittle">
                            <div class="texto">Últimos posts</div>
                            <div class="barra"></div>
                        </div>
                        <div class="widget_body">
                            <div class="widget_posts">
                                <div class="widget_posts1">
                                   
                                    <a href="">
                                        → Loren iptun oregai laren xem ram monty dite pulot laganty abdfhadbf
        
                                        <div class="widget_posts1_time">
                                            6 years ago
                                        </div>
                                    </a>
                                </div>
                                <div class="widget_posts2">
                                   
                                    <a href="">
                                        → Loren iptun oregai laren xem ram monty dite pulot laganty
        
                                        <div class="widget_posts2_time">
                                            1 month ago
                                        </div>
                                    </a>    
                                </div>
                                <div class="widget_posts3">
                                   
                                    <a href="">
                                        → Loren iptun oregai laren xem ram monty dite pulot laganty njsdfnhnhf sjdfadfadf  fujhfn
        
                                        <div class="widget_posts3_time">
                                            2 years ago
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="area3">
                    <div class="widget">
                        <div class="widget_tittle">
                            <div class="texto">Últimos tweets</div>
                            <div class="barra"></div>
                        </div>
                        <div class="body_W">
                            <div class="tweets">
                                <div class="widget_T">
                                    <div class="tweet1">
                                        <a href="#">→ Loren iptun oregai laren xem ram monty dite pulot laganty abdfhadbf
                                    
                                        <div class="time1">1 mês atrás</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget_T2">
                                    <div class="tweet2">
                                        <a href="#">→ Loren iptun oregai laren xem ram monty dite pulot laganty abdfhadbf
                                    
                                        <div class="time2">2 anos atrás</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget_T3">
                                    <div class="tweet3">
                                        <a href="#">→ Loren iptun oregai laren xem ram monty dite pulot laganty abdfhadbf
                                    
                                        <div class="time3">6 anos atrás</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy">
                <p> Copyrigth -Todos os direitos reservados</p>
            </div>
        </div>

    </footer>
</body>
</html>